*.log
.settings
argus-automation-tma/.mvn
argus-servicenow-web/.mvn
argus-rundb/.mvn
domain/.mvn
mail/.mvn
web/.mvn
*.project
*.DS_Store
domain/mvnw
domain/mvnw.cmd
.vscode/settings.json
argus-batch-meraki/target
argus-shell/target
data/target
db-compare-batch/target
argus-rundb/target
argus-toggle/target
argus-weekly-out-chg/target
argus-q2c-scheduler/target
argus-hire/.mvn
argus-hire/mvnw
argus-hire/mvnw.cmd
argus-sla/.mvn
argus-sla/mvnw
argus-sla/mvnw.cmd
argus-q2c-outbound/target
argus-user-login/.mvn
argus-user-login/mvnw
argus-user-login/mvnw.cmd
argus-automation-patching-ctask/target
